MISSION_CLIFFS_ENDPONT = f"{mission cliffs ig endpoint}"
TWILIO_SID = f"{twilio SID}"
TWILIO_AUTH_TOKEN = f"{twilio auth token}"
TWILIO_TRIAL_NUMBER = f"{your twilio trial number}"
NUMBERS = [
    f"{number you want to send to}",
]